<div [ngClass]="activeTheme">
  <div class="mat-app-background">

    </div>
        <router-outlet></router-outlet>
  </div>

<app-theme-selector></app-theme-selector>

<!-- <div class="absalute">
  <ul>
    <li *ngFor="let el of collection |pagination: {perPage: 10, currentPage: page}">
      {{el}}
    </li>
  </ul>


  <app-pagination
    (goPage)="goToPage($event)"
    (next)="next($event)"
    (prev)="prev($event)"
    [pagesToShow]="3"
    [currentPage]="page"
    [perPage]="10"
    [totalItemsCount]="collection.length"></app-pagination>

</div> -->
